<% if tasks %>
  <ul>
    <% tasks.each do |task| %>
      <% title = task.dig('properties', 'Name', 'title', 0, 'plain_text') %>
      <% next if title.nil? %>
      <% title.strip! %>
      <% url = "#{NOTION_BASE_URL}#{title.tr(" ", "-")}-#{task['id'].tr("-", "")}" %>
      <li style="list-style: none">
        <input type="checkbox" onClick="completeTask('<%= task['id'].tr("-", "") %>')">
        <a href="<%= url %>" target="_blank"><%= title %></a>
        <% filter_name = task.dig('properties', 'Status', 'select', 'name') %>
        <% filter = filter_options_data.detect { |o| o['name'] == filter_name } %>
        <span style="color: <%= filter['color'] %>"><%= filter_name %></span>
      </li>
    <% end %>
  </ul>
<% end %>
