<%= erb '_head'.to_sym %>

<h1>TaskSheet</h1>

<p class="no-print">Message: <%= show_message %></p>

<details class="no-print" style="cursor: pointer">
  <summary>Query data</summary>
  <div style="padding: 10px 20px; background-color: #f0f0f0">
    <p class="no-print">DB ID: <%= session[:db_id] %></p>
    <p class="no-print">filter_property: <%= session[:filter_property] %></p>
    <p class="no-print">filter_type: <%= session[:filter_type] %></p>
    <p class="no-print">filter_options: <%= session[:filter_options] %></p>
    <p class="no-print">parent_property_name: <%= session[:parent_property_name] || "Not nesting subtasks" %></p>
  </div>
</details>

<p>
  <a href="https://api.notion.com/v1/oauth/authorize?client_id=<%= notion_client_id %>&response_type=code&owner=user&redirect_uri=<%= ngrok_url %>/notion_auth">Log in with Notion</a>
</p>

<% if tasks.length > 0 %>
  <div id="output-actions">
    <p class="no-print"><a href="#" onClick="window.print()">Print</a></p>
    <p class="no-print"><a href="/download_markdown">Download tasksheet.markdown</a></p>
    <p class="no-print"><a href="/download_taskpaper">Download tasksheet.taskpaper</a></p>
    <p class="no-print"><a href="/download_pdf">Download tasksheet.pdf</a></p>
    <p class="no-print"><a href="/download_csv">Download tasksheet.csv</a></p>
  </div>
<% end %>

<div class="tasks">
  <%= erb '_tasks'.to_sym, :locals => {:tasks => tasks, filter_options: filter_options } %>
</div>

<p class="no-print"><a href="/config_database">Configure</a></p>
