<%= erb '_head'.to_sym %>

<p>Message: <%= show_message %></p>

<p>DB ID: <%= session[:db_id] %></p>
<p>filter_property: <%= session[:filter_property] %></p>
<p>filter_option: <%= session[:filter_option] %></p>

<%= erb '_tasks'.to_sym, :locals => {:tasks => tasks} %>

<p><a href="/config_database">Configure</a></p>
